name: Android Build

on:
  push:
    branches:
      - main
      - master
      - dev
  pull_request:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install_Java
        uses: action/setup-java@v2
        with:
          Java-version: '17.0.6'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set Up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '21'

      - name: Install Dependencies
        run: npm install

      - name: Build Android App
        run: npx react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res && cd android && ./gradlew assembleRelease

      - name: Publish Artifact
        uses: actions/upload-artifact@v2
        with:
          name: android-app
          path: android/app/build/outputs/apk/release/app-release.apk

      - name: Notify Success
        if: success()
        run: echo "Android build completed successfully"

      - name: Notify Failure
        if: failure()
        run: echo "Android build failed"
